@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*La familia se trae*/

/* 
 font-family: "Fraunces", serif;
 font-family: "Montserrat", serif;
 */

body{
    margin: 0; /*Eliminar borde fantasma*/

    background-color: hsl(30, 38%, 92%);

    font-size: 14px; /*Todo el texo igual al tamaño 14*/
    font-family: "Montserrat", serif; /*Todo el texto igual al tipo de familia*/

    display: flex;  /*Se centra las caja en toda la hoja*/
    justify-content: center;
    align-items: center;

    height: 100vh; /*Hace que se use todo el margen de la pagina*/
}

main{
    border: 0px solid red; /* */

    width: 650px;

    display: flex; /*FLEXBOX para uno a lado del otro*/

    min-height: 400px; /*El alto de la caja*/

    /*
    border-radius: 14px; /*Crear borde en una caja*/
    /* overflow: hidden; /*Para que no sobresalga el borde*/
    
   
}

.photo {
    background-color: blue;

    width: 350px;

    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover; /*Para que quepa en el recuadro*/
    background-repeat: no-repeat; /*Para que no se repita la imagen*/
}

.content {
    background-color: hsl(0, 0%, 100%);

    width: 300px;

    padding: 28px; /*Crear Borde dentro de la caja*/

    display: flex;   /*IMPORTANTE*/
    flex-direction: column; 
    gap: 14px;

}

.content h3{
    /*border: 1px solid blue;*/

    margin: 0; /*Elimina margen fantasma de cada parrafo*/
    text-transform: uppercase; /*Texto mayuscula*/
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    letter-spacing: 4px; /*Espaciado*/
}

.content h1{
    margin: 0;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 42px; /*14px * 3 = 42px*/
    color: hsl(212, 21%, 14%);
}

.content div{
    display: flex;
    align-items: center;
    gap: 14px;
}

.content p{
    margin: 0; /* */
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.5; /*Interlineado*/
}

.content span{
    font-family: "Fraunces", serif;
    font-size: 42px;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.content s{
    color: hsl(228, 12%, 48%);
}

.content button{
    border: 0;
    font-family: inherit; /*Hereda el elemento padre*/
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);

    padding: 14px; 
    border-radius: 7px; /*Redondear borde*/
    cursor: pointer; /*Cambiar el cursor al pasar el mause*/

    display: flex;
    justify-content: center;
    gap: 7px; /*Permite separación*/

}